<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Travel App</title>
        </head>
        <body>
            <div class="container">
                <header>
                  <h1>Travel App</h1>
                </header>
                <!-- <div class="fields">
                  <div class="city-name">
                  <label for="city">Enter City name</label>
                  <input type="text" id="city" placeholder="enter city name here">
                </div>
                <div class="dates">
                  <label for="travelDate">Enter departing date</label>
                  <input type="text" id="travelDate" placeholder="Departing Date">

                  <label for="returnDate">Enter returning date</label>
                  <input type="text" id="returnDate" placeholder="Returning Date">
                </div>
              </div> -->
              <div class="fields">
    
                <div class="">  
                  <span class="">City:</span>            
    
                  <input type="text" id="city" required>
                </div>
                <div class="">
                  <span class="">Travel Date:</span>            
                  <input type="date" id="travelDate" required>
                </div>
                <div class="">
                  <span class="">Return Date:</span>      
                  <input type="date" id="returnDate" required>
                </div>
                <button id="generate" type = "submit"> Generate </button>
            </div>
                <div class="main-content">
                    
                </div>
                <footer>
                    <p>&copy; By Norah</p>
                </footer>
            </div>
            <div class="modal"></div>
            <script>
              // Check that service workers are supported
              if ('serviceWorker' in navigator) {
                  // Use the window load event to keep the page load performant
                  window.addEventListener('load', () => {
                      navigator.serviceWorker.register('/service-worker.js');
                  });
              }
          </script>
        </body>
    </html>