header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#header-img {
    max-width: 20px;
}

.container {
    display: grid;
    grid-template-rows: 75px 250px minmax(200px, auto) 75px;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "fields"
    "content"
    "footer";
}
.fields{
    grid-area: fields;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
// .dates{
//     display: gr;
//     flex-direction: row;
// }

footer {
    grid-area: footer;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}


a {
    font-family: Times, 'Times New Roman';
    color: blueviolet;
    font-weight: bold;
}


h1 {
    font-family: Cambria, Cochin;
    font-style: italic;
    color:#5264AE;
}


h2 {
    font-family: Georgia;
    font-style: oblique;
    font-weight: lighter;
}


h3 {
    font-style: italic;
    font-family: sans-serif;
    font-weight: bolder;
}


p {
    color: #404040;
    font-weight: lighter;
    font-size: large;
}

.main-content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px, auto);
    grid-gap: 30px;
    justify-content: center;
}


.card {
    background-color: lightgray;
    border: 1px black solid;
    padding: 5px;
    margin: 10px;
}


figure > img {
    max-width: 100%;
    height: auto;
}


figcaption {
    color: gray;
    font-style: italic;
}


@media(min-width:800px) {
    .main-content {
        grid-area: content;
        display: grid;
        grid-template-columns: 50%;
        grid-template-rows: minmax(50px, auto);
        grid-gap: 30px;
        justify-content: center;
    }
  }

  .group 			  { 
    position:relative; 
    margin-bottom:35px; 
  }
  input 				{
    font-size:16px;
    padding:5px 5px 5px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  label 				 {
    color:#999; 
    font-size:16px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-10px;
    font-size:14px;
    color:#5264AE;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:40%; 
    width:100px; 
    top:20%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }